* body {
		font-family : Arial, Verdana;
		color : #000000;
		background-color : #ffffff;
}

* p {
		color : #ff0000;
}

zum_testen {
		font-family : Arial, Verdana;
		color : #ffffff;
		background-color : #323232;
}